@model ProductViewModel
@section title {<title>Admin Panel | Scrap App</title>} 
@section css_files{
  <style >
    .accordion-item {
      background-color: #fff;
      border: 0px solid rgba(0,0,0,.125); 
    }
    .accordion-button{
      padding:1.07rem 1.25rem;
    }
    .hoverme:hover {background-color: rgba(0,0,0,.125) !important;}
    .coverme {background-color: #00ff88!important;}
    .coverme:hover {background-color: #8800ff!important;}
    .colorbut:hover {background-color: #00ff88!important;}
</style>
}
<div class="container-fluid list-group-item">
  <h1 class="text-center p-3 bg-info rounded rounded-4">Admin Panel</h1>
  @if (Model.Products.Count == 0)
  {
    <div class="text-center fs-5 alertdanger">
      <h1 class="h3">No Product</h1>
    </div> 
  }
  else{
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="accordion" >
          <div class="accordion-item">
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne">
              <div class="accordion-body">
                <table class="table sortable">
                  <thead>
                    <tr class="coverme">
                      <th scope="col"><button class="btn colorbut">IMAGE<span aria-hidden="true"></span></button></th>
                      <th scope="col"><button class="btn colorbut">BRAND<span aria-hidden="true"></span></button></th>
                      <th scope="col"><button class="btn colorbut">MODEL<span aria-hidden="true"></span></button></th>
                      <th scope="col"><button class="btn colorbut">PRICE<span aria-hidden="true"></span></button></th>
                      <th scope="col"><button class="btn colorbut">RATE<span aria-hidden="true"></span></button></th>
                      <th scope="col"><button class="btn colorbut">RAM<span aria-hidden="true"></span></button></th>
                      <th scope="col"><button class="btn colorbut">STORAGE<span aria-hidden="true"></span></button></th>
                      <th scope="col"><button class="btn colorbut">PROCESSORS<span aria-hidden="true"></span></button></th>
                      <th scope="col"><button class="btn colorbut">SYSTEM<span aria-hidden="true"></span></button></th>
                      <th scope="col"><button class="btn colorbut">SCREEN<span aria-hidden="true"></span></button></th>
                      <th scope="col"><button class="btn colorbut">Updated<span aria-hidden="true"></span></button></th>
                      <th scope="col"></th>
                    </tr>
                  </thead>
                  <tbody class="table-group-divider">
                    @foreach (var product in Model.Products)
                    {
                      <tr class="hoverme">
                        <td><img src="@product.Image" width="80"></td>
                        <td scope="row">@product.Brand</td>
                        <td scope="row">
                          @(@product.Model.Length > 10 ? @product.Model.Substring(0, 10) + "..." : @product.Model)
                        </td>
                        <td scope="row">@(product.Price)</td>
                        <td scope="row">
                          <ul class="list-group list-group-horizontal" style="list-style-type: none;font-weight: 400;">
                            @if((int)product.Rate > 0){
                              @for (int j = 0; j < (int)product.Rate; j++){<li style="color:#FFC000;">★</li>}
                              @for (int k = 0; k < 5-(int)product.Rate; k++){<li style="color:#D8D8D8;">★</li>}
                            }else{
                              <li style="color:#ff8800">
                                No Rating
                              </li>
                            }
                          </ul>
                        </td>
                        <td scope="row">@product.Ram</td> 
                        <td scope="row">@product.Storage</td> 
                        <td scope="row">@product.Processor</td>
                        <td scope="row">@product.System</td>
                        <td scope="row">@product.Screen</td>
                        <td scope="row">
                          @if(product.isUpdated)
                          {
                            <img src="~/img/check.svg" width="25px"/>
                          }else{
                            <img src="~/img/xmark.svg" width="25px"/>
                          }
                        </td>
                        <td >
                          <form asp-controller="Admin" asp-action="DeleteProduct">
                            <input type="hidden" name="id" value="@product.Id"/>
                            <button type="submit" class="btn btn-outline-danger">Delete</button>
                          </form>
                        </td>
                        </tr>
                    }
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  }
</div>
@section JavaScript {<script src="~/js/sorttable.js"></script>}