@model List<Category>
<div class="filtme justify-content-center">
  <form class="list-group align-self-center" action="/Home/FilterProducts">
    <div class="accordion accordion-container" id="acco" style="min-width: 245px;">
      @* @foreach (var item in Model)
      {
        string c1 = "collapsed";
        string c2 = "false";
        string c3 = "";
        @if(item.Key == "Brand" || item.Key == "Storage" || item.Key == "System"){
          c1 = "";
          c2 = "true";
          c3 = "show";
        }
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button btnhover @c1" type="button" data-bs-toggle="collapse" data-bs-target="#@item.Key" aria-expanded="@c2" aria-controls="@item.Key">@item.Key</button>
          </h2>
          <div id="@item.Key" class="accordion-collapse collapse @c3">
            <div class="accordion-body"  id="s_@item.Key">
              <input type="text" class="form-control mb-3" id="s_@item.Key.ToLower()" placeholder="Search">
              <input type="text" name="@item.Key" hidden>
              @foreach (Category category in item.Value)
              {
                <div class="form-check mb-0">
                  <input class="form-check-input getAll@(item.Key)" type="checkbox" id = "check_@category.Name" @(category.isChecked?"checked":"") value="@category.Name" >
                  <label class="form-check-label" for="check_@category.Name">@category.Name</label>
                </div>
              }
            </div>
          </div>
        </div>
      } *@
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button btnhover collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#Price" aria-expanded="false" aria-controls="Price">
            Price
          </button>
        </h2>
        <div id="Price" class="accordion-collapse collapse">
          <div class="accordion-body">
            <div class="input-group mb-3">
              <input type="number" class="form-control" placeholder="Min" aria-label="min_price" id="min_price" name="min_price">
              <span class="input-group-text">₺</span>
              <input type="number" class="form-control" placeholder="Max" aria-label="max_price" id="max_price" name="max_price">
              <span class="input-group-text">₺</span>
            </div>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button btnhover collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#Rate" aria-expanded="false" aria-controls="Rate">Rate</button>
        </h2>
        <div id="Rate" class="accordion-collapse collapse">
          <div class="accordion-body">
            @for (int i = 5; i > 0; i--){
            <div class="form-check">
              <input class="form-check-input" type="radio" name="rate_rad" id="rate_rad_@i" value="@i">
              <label class="form-check-label" for="rate_rad_@i">
                <ul class="list-group list-group-horizontal" style="list-style-type: none;">
                  @for (int j = 0; j < i; j++){<li style="color:#FFC000;">★</li>}
                  @for (int k = 0; k < 5-i; k++){<li style="color:#D8D8D8;">★</li>}
                </ul>
                </label>
            </div>
            }
          </div>
        </div>
      </div>
    </div>
    <button class="list-group-item" type="submit" style="border: none;" id="search_Button" >
      <li class="btn btn-outline-info">Search</li>
    </button>
  </form>
</div>