<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="icon" href="~/img/python.svg" type="image/x-icon">
    @RenderSection("title", required: true)
    <style>
      body {
        background-color: #fff!important;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
      }
      .btnhover:hover{background-color: #00000010!important;}
      .accordion-item {background-color: #fff;border: 0px solid #00000020; }
      .accordion-button:not(.collapsed) {color: #ff8800;background-color: #fff;box-shadow: none;}
      .accordion-button:focus {z-index: 3;background-color: #fff;border-color: #fff;outline: 0;box-shadow: none;}
      input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {-webkit-appearance: none;margin: 0;}
      input[type=number] {-moz-appearance: textfield;}
      .sticky-footer {
          position: sticky;
          bottom: 0;
      }
    </style>
    @RenderSection("css_files", required: false)
</head>
<body>
    <nav class="navbar sticky-top navbar-dark bg-dark navbar-expand-md">
      <div class="container">
        <a class="navbar-brand" href="/" style="color: #F50057;">ScrapApp</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a asp-controller="/" class="nav-link">Products</a>
            </li>
            @if (User.Identity.IsAuthenticated)
            {
              <li class="nav-item">
                <a asp-controller="Cart" asp-action="Index" class="nav-link">Cart</a>
              </li>
              <li class="nav-item">
                <a asp-controller="Order" asp-action="Index" class="nav-link">Orders</a>
              </li>
              if (User.IsInRole("admin"))
              {
                <li class="nav-item">
                  <a asp-controller="Admin" asp-action="Products" class="nav-link">Admin Products</a>
                </li>
                <li class="nav-item">
                  <a asp-controller="Admin" asp-action="RoleList" class="nav-link">Roles</a>
                </li>
                <li class="nav-item">
                  <a asp-controller="Admin" asp-action="UserList" class="nav-link">Users</a>
                </li>
              }
            }
          </ul>
          <ul class="navbar-nav ms-auto">
            @if (User.Identity.IsAuthenticated)
            {
              <li class="nav-item">
                <a class="nav-link"> @User.Identity.Name.ToUpper() </a>
              </li>
              <li class="nav-item">
                <a asp-controller="Account" asp-action="Logout" class="nav-link">Logout</a>
              </li>
            }
            else
            {
              <li class="nav-item">
                <a asp-controller="Account" asp-action="Login" class="nav-link">Login</a>
              </li>
              <li class="nav-item">
                <a asp-controller="Account" asp-action="Register" class="nav-link">Register</a>
              </li>
            }
          </ul>
        </div>
      </div>
    </nav>
    @if(TempData["message"]!=null)
    {
        <partial name="_ResultMessage" model="@(TempData.Get<AlertMessage>("message"))"/>
    }   
    @RenderBody()
    <footer id="footer" class="sticky-footer py-5 bg-dark text-white text-center mt-3">Scrap App</footer>
    @RenderSection("JavaScript",false)
    <script src="~/js/bootstrap.js"></script>
</body>
</html>